html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
    padding: 0 0 40px;
}

.footer {
    height: 40px;
    border-top: 1px solid #ccc;
    text-align: center;
    line-height: 40px
}

a:hover {
    text-decoration: none;
}

.container {
    padding: 10px;
}

@media (min-width: 768px) {
    .container {
        padding: 25px 0;
    }
}

li.post {
    list-style: none;
}

p.date {
    color: #aaaaaa;
}

.navbar {
    text-shadow: 1px 1px 0px #f8f8f8,
        3px 3px 1px rgba(0, 0, 0, .2);
}